*{
    margin: 0;
    padding: 0;
 
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

nav{
    height: 5rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}
.header{
    height: 5rem;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 4rem;
    width: 4rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;


}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
}
.nav-links li a:hover {
    color: yellow;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: yellow;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: yellow;
    border: 1.5px solid yellow;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 10px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.Main123{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;   
    margin:20px;
     
}
.box{
    width:100%;
    height:auto;
    
    align-items: center; 
  
    padding:50px;
 
}
#ing{
    height:350px;
}

.iner{
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3372297.jpg");
    width:750px;
    background-position: center;
   
    
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    color:#40407a;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    color:#40407a;
    
}
.underline{
    border-bottom: 6px solid green;
    padding:10px;
    font-weight: bold;
}

.fluid{
    width:400px;
    height:auto;
    margin:20px;

    text-align: center;
    background-color:#f6e58d;
}
.donate{
    color:#6D214F;
    font-size: 30px;
    font-weight: bold;
    
}
.frm{
    paddinG:10px;
  
}
.para{
    text-align: left;
    padding: 10px;
    color:#182C61;
    font-weight: bolder;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.para1{
    text-align: center;
    color:#b71540;
    padding:50px;
    font-weight: bolder;
    
}
.Main12{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:30px;
}
.carding{
    height:267px;
    width:230px;
}
.card-text{
    color:#6F1E51;
}
.texting{
    font-size: 20px;
    font-weight: bold;
}
.Footer{
    text-align: center;
    background-color: black;
    height:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
}
